.friendList{
    flex-direction: column;
    
    width: 300px;
    margin: 30px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 1px 1px 17px rgb(74, 71, 71);
}
.friendList>li{
    flex-direction: row;
}
.friendList p{
    width: 50px;
    border: 1px solid black;
}